<footer class="footer-bs " >
    <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft">
            <div class="text-center">
                <img src="/static/images/ept_logo.svg" class="rounded"  height="100px"alt="...">
                <p style="color: white; font-size: medium;" class="rounded align-middle " >© 2021 Copyright: ept.sn | Ecole Polytechnique de Thiés</p>

              </div>

        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
            <h4>Contacts —</h4>
            <div class="col-md-9">
               <ul class="list">
                    <li><a href="#">Mail : ept@ept.sn</a></li>
                    <li><a href="#">Postale : BP A10 Thiés,Sénegal</a></li>
                    <li><a href="#">Télephone:00221 33 951 15 48</a></li>
                    <li><a href="#">Fax : 00221 33 951 14 76</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 footer-social animated fadeInDown">
            <h4>Social</h4>
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <i class="fa fa-facebook-square" style="font-size:40px"></i>
                    <i class="fa fa-twitter-square" style="font-size:40px"></i>
                    <i class="fa fa-instagram" style="font-size:40px"></i>
                    <i class="fa fa-youtube-square" style="font-size:40px"></i>

                
                </section>
                <!-- Section: Social media -->
              </div>
    </div>
    </div>
</footer>