
<div  class="cover ">
    <div style="margin-left: 2%; margin-top: 2%;  ">
    <h2 class="w-10 position-absolute text-white  mr-1 pr-1" style="font-family: cursive;" >Sagesse - Devoir</h2>
    <p class="w-1 position-absolute text-white  mt-5 mr-2 pr-1  " style="font-family: cursive; " id="p" ><br>L'Ecole Polytechnique de Thiés, connue sous le sigle EPT, est une grande école d'ingénieurs<br> implantée au Sénégal .Créée en 1973 par Léopold Sédar Senghor, elle forme des ingénieurs<br> dans les domaines du génie civil, génie électromécanique <br>(avec une filière aérounautique ) et du génie informatique et télécommunications</p>
    </div>
</div>